.HeadMain{
    background-color: #E5E5E5;
    padding: 17px 0;
}
.headBg{
    max-width: 44%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 600;
}


.group-4-0-6 {
    height: 810px;
    width: 378px;
}
.top-illustration {
    height: 269px;
    width: 378px;
}
.illustrationbg {
    height: 269px;
    width: 378px;
    background-color: #f5f5f5;
    border: 1px solid #dfdfe0;
}
.text-1 {
    text-align: left;
    vertical-align: top;
    font-size: 16px;
    letter-spacing: -0.40799999237060547px;
    line-height: 22px;
    color: #000000;
}
.close {
    border-radius: 10px;
    height: 44px;
    width: 48px;
}
.img-2 {
    height: 24px;
    width: 24px;
}
.group-4-0-5 {
    height: 86px;
    width: 362px;
}
.group-4-0-2 {
    height: 69px;
    width: 187px;
}
.primary-_button {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    background-color: #403f47;
}
.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.padding {
    height: 10px;
    width: 4px;
}
.text-3 {
    text-align: center;
    vertical-align: top;
    font-size: 16px;
    letter-spacing: -0.40799999237060547px;
    line-height: 22px;
    color: #ffffff;
}
.padding {
    height: 11px;
    width: 4px;
}
.icon-hide-chevron {
           height: 24px;
           width: 16px;
       }
.img-4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
    gap: 10px;
}
.text-5 {
    text-align: center;
    vertical-align: top;
    font-size: 14px;
    color: #403f47;
}
.line-2-1 {
    height: 0;
    width: 362px;
    border: 1px solid #dfdfe0;
}
.group-2-0-2 {
    height: 408px;
    width: 312px;
}
.group-2-7-1 {
    height: 408px;
    width: 312px;
}
.group-3-4-3 {
    height: 71px;
    width: 311px;
}
.input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
.text-6 {
    text-align: left;
    vertical-align: top;
    font-size: 14px;
    color: #6f6e72;
}
.frame-1-7-1 {
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 16px 20px;
    gap: 10px;
    background-color: #fbfbfb;
    border: 1px solid #bebec2;
}
.text-7 {
    text-align: left;
    vertical-align: top;
    font-size: 16px;
    color: #33373b;
}
.group-3-4-4 {
    height: 155px;
    width: 311px;
}
.input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
.text-8 {
    text-align: left;
    vertical-align: top;
    font-size: 14px;
    color: #e07f7f;
}
.frame-1-7-1 {
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 16px 20px;
    gap: 10px;
    background-color: #fbfbfb;
    border: 2px solid #e07f7f;
}
.text-9 {
    text-align: left;
    vertical-align: top;
    font-size: 16px;
    color: #403f47;
}
.text-1-0 {
    text-align: left;
    vertical-align: top;
    font-size: 13px;
    color: #e07f7f;
}
.group-4-0-3 {
    height: 41px;
    width: 58px;
}
.text-1-1 {
    text-align: left;
    vertical-align: top;
    font-size: 16px;
    color: #000000;
}
.line-2-2 {
    transform: rotate(-91deg);
    height: 0;
    width: 41px;
    border: 1px solid #bebec2;
}
.img-1-2 {
    height: 18px;
    width: 18px;
    background-color: #ffffff;
}
.primary-_button {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px 0 20px;
    gap: 8px;
    background-color: #bebec2;
}
.layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.padding {
    height: 10px;
    width: 4px;
}
.text-1-3 {
    text-align: center;
    vertical-align: top;
    font-size: 16px;
    letter-spacing: -0.40799999237060547px;
    line-height: 22px;
    color: #ffffff;
}
.padding {
    height: 11px;
    width: 4px;
}
.img-1-4 {
    height: 24px;
    width: 16px;
}
.text-1-5 {
    text-align: center;
    vertical-align: top;
    font-size: 12px;
    line-height: 16%;
}
.text-1-6 {
    text-align: left;
    vertical-align: top;
    font-size: 14px;
    line-height: 19%;
    color: #7f7f7f;
}
.rectangle-2-0-9 {
    height: 3px;
    width: 135px;
    background-color: #885eff;
}
.headCancel img{
    margin: -10px 0 0 0;
}
.HeadMain{
    background-color: #E5E5E5;
    padding: 17px 0 10px 0px;
}
.headBg{
    max-width: 10%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 600;
}
.HeadMainData{
    display: flex;
    background: #F5F5F5;
    padding: 18px 6px 0px 6px;
}
.FormInput2 label img{
    width: 20px;
    padding: 0 0px 0 3px;
}
.FormInput1 label,.FormInput2 label{
    display: flex;
    align-items: center;
    max-width: 130px;
    color: #6F6E73;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.CreateNearMain p{
    color: #808080;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    width: 300px;
    margin: 20px 0 18px 0;
}
.FormInput1 input{
    border: 1px solid #BEBEC2;
    border-radius: 8px;
    width: 100%;
    padding: 10px 20px;
    height: 45px;
    margin: 8px 0 0 0 ;
}
.FormInput2 input{
    border: 1px solid #BEBEC2;
    border-radius: 8px 0px 0px 8px;
    width: 80%;
    padding: 10px 20px;
    height: 45px;
    margin: 8px 0 0 0;
}
.FormInput1 {
    margin: 28px 0 0 0;
}
.FormInput1{
    margin: 10px 0 0 0;
}
.FormInput2{
    margin: 9px 0 0 0;
}
.FormInput2 button{
    background-color: #FCFCFC;
    border: none;
    border: 1px solid #BEBEC2;
    padding: 10px 17px 11px 11px;
    border-radius: 0px 8px 8px 0px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
}
.nearloginMain p{
    color: #414047;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin: 15px 0 0 0;
    max-width: 200px;
    margin: 15px auto 0;

}
.nearloginMain{
    border-top: 1px solid #DFDFE0;
    margin: 22px 0 0 0;
}
.formbtnextra{
    max-width: 240px;
    margin: 14px auto 0;
    text-align: center;
}
.formbtnextra button{
    background-color: #414047;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 14px 17px 14px 24px;
}
.CreateNearMain h4{
    color: #6F6E73;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
    max-width: 287px;
    margin: 16px auto 0;
}
.formbtn{
    max-width: 162px;
    margin: 27px auto 0;
    text-align: center;
}
.formbtn button{
    background-color: #BEBEC2;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 14px 16px 13px 24px;
}
.FormInput2 input:focus{
    outline: none;
}
.FormInput1 input:focus{
    outline: none;
}
.FormInput2 input ::placeholder{
   color:#828282 ;
   font-size: 16px;
   line-height: 2px;
   font-weight: 400;
}
.FormInput1 input ::placeholder{
    color:#828282 ;
    font-size: 16px;
    line-height: 2px;
    font-weight: 400;
 }